{% macro build_form(form, action, method="POST") %}
	<form class="form-horizontal" method="{{ method }}" action="{{ url_for(action) }}">
		{{ form.csrf_token }}
{% for item in form %}
	{% if item.name != 'csrf_token' %}
		<div class="control-group">
		{% if item.type not in ('SubmitField', 'ButtonField') %}
			{{ item.label(class='control-label') }}
		{% endif %}
			<div class="controls">
				{% if form.errors.get(item.name) %}
					{% for error in form.errors[item.name] %}
						<span class="error">{{ error }}</span>
					{% endfor %}
				{% endif %}
				{{ item }}
			</div>
		</div>
	{% endif %}
{% endfor %}
	</form>
{% endmacro %}