{% extends 'layout.html' %}

{% block body %}
	<div class="row-fluid">
		<div class="span5 offset1">
			<ul class="breadcrumb">
				<li><a href="{{ url_for('forum.index') }}">Forums</a> <span class="divider">/</span></li>
				<li class="active">Create Topic</li>
			</ul>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span4 offset4">
			<form class="form-horizontal" method="post" action="{{ url_for('forum.createTopic') }}">
				{{ form.csrf_token }}
				<div class="control-group">
					{{ form.title.label(class="control-label") }}
					<div class="control">
						{{ form.title(class = "span8") }}
					</div>
				</div>
				<div class="control-group">
					{{ form.message.label(class='control-label') }}
					<div class="control">
						{{ form.message(rows=5, cols=40, class="span8") }}
					</div>
				</div>
				<div class="control-group">
					{{ form.tags.label(class='control-label') }}
					<div class="control">
						{{ form.tags }}
					</div>
				</div>
				<div class="form-actions">
					{{ form.submit }}
				</div>
			</form>
		</div>
	</div>
	<script></script>
{% endblock %}