{% extends 'layout.html' %}
{% from 'function/functions.html' import print_user %}

{% set title = topic.title %}
{% block body %}
		<div class="row-fluid">
			<span class="span5 offset1">
				<ul class="breadcrumb">
  					<li><a href="{{ url_for('forum.index') }}">Forums</a> <span class="divider">/</span></li>
  					<li class="active">{{ topic.title }}</li>
				</ul>
			</span>
		</div>
		{% for post in topic.posts %}
		<div class="row-fluid">
			<span class="span2 offset1">
				<p class="pull-right">
					{{ print_user( post.author ) }}<br />
					{{ post.time|timesince }}
				</p>
			</span>
			<span class="span8">
				{{ post.message|markdown }}
				<span class="muted">
					<a href="{{ url_for('forum.like', topicid=topic.id, postid=post.id) }}"><i class="icon-thumbs-up"></i></a>
						{% if post.likes %}
						<small
							class="addtooltip"
							data-placement="right"
							data-html="true"
							data-original-title='{% for like in post.likes %}{{ like.user }}<br>{% endfor %}'>
							This post has been liked
							{% if post.likes|count > 1 %}
								{{ post.likes|count }} times!
							{% else %}
								1 time
							{% endif %}
						</small>
					{% endif %}
				</span>
			</span>
		</div>
		<hr>
		{% endfor %}
		<div class="row-fluid">
			<div class="span6 offset3">
				<form class="form-horizontal" method="post" action="{{ url_for('forum.topic', topicid = topic.id) }}">
					{{ form.csrf_token }}
					<div class="controls">
						{{ form.message(rows = 5, class="span12") }}
					</div>
					<div class="form-actions">
						{{ form.submit(class="btn") }}
					</div>
				</form>
			</div>
		</div>
{% endblock %}